.card-button-cancel {
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}